.content {
  width: 70%;
  padding: 70px 0;
  margin: auto;
  max-width: 850px;
  text-align: left;
  font-size: larger;
  line-height: 1.5;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
}

.about {
  font-size: 36px;
  font-weight: bold;
}

.footerContainer {
  background: linear-gradient(135deg, rgba(40, 40, 40, 1) 0%, rgba(20, 20, 20, 1) 50%, rgba(40, 40, 40, 1) 100%);
}

.footer {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 22rem;
  padding: 3.5rem 0rem;
  font-size: larger;
}

.link {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: color 0.4s ease, border-bottom 0.4s ease;
}

.link:hover {
  color: lightgray;
  border-bottom: 2px solid lightgray;
}

.list {
  font-size: 25px;
  display: inline-block;
}

.filterContainer {
  margin-top: 10rem;
}

.filter {
  width: 70%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin: auto;
  background-color: #232323;
  border: 1px solid #c8c8c8;
  border-radius: 8px;
  padding: 16px;
}

.filterContent {
  padding-top: 1.5rem;
  background-color: rgb(35, 35, 35);
  color: rgb(200, 200, 200);
}

.getStarted {
  background-color: #232323;
  border: 1px solid #c8c8c8;
  border-radius: 8px;
  padding: 16px;
  margin: 5rem 0rem;
}

@media (max-width: 768px) {

  .content {
    padding: 70px 50px;
  }

  .list {
    font-size: 20px;
  }

}